*{padding: 0;margin: 0;border: 0;}
*,*:before,*after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*                     */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


.container {
    width: 1400px;
    height: 900px;
    background-color: #6d96bc;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    position: relative;
}

.card {
        width: 1200px;
        height: 660px;
        background-image: url(2.png);
        position:absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);

        font-family: 'Roboto', sans-serif;
        color: #fff;
        text-align: center;

}

 p {
        font-size: 30px;
        font-weight: lighter;
        padding-top: 270px;
        line-height: 50px;
}

.title {
        font-size: 50px;
        font-weight: 500;
        
}
.clear {

}
.button {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    background-color: #ba2042 ;
    width: 260px;
    height: 70px ;
    border-radius: 70px; 

    position: absolute;
    left: 470px;
    bottom: 180px;
    line-height: 3.5; 
    letter-spacing: 0.8px;
}
.clear {
    clear: both;
    height: 190px;
}


      .indicator li {
        border-radius: 50%;
        background-color:#999898;

        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 11px;

      }
      .indicator :nth-child(2) {
          background-color: #f1c81d;
      }
      
      .indicator :hover{
          background-color: #ba2042;
      }

  
